<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-cipherlab" version="1.0.0">

    <name>cordova-plugin-cipherlab</name>

    <description>A Cipherlab barcode scanner plugin</description>
    <license>GPL-2.0-only</license>
    <keywords>cordova, plugin, cipherlabs</keywords>
    <repo>https://git.perfact.de/Playground/cordova-example-plugin.git</repo>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="android">
        <source-file src="src/android/CipherlabScanner.java" target-dir="src/perfact/cordova-plugin-cipherlab" />
        <source-file src="src/android/BarcodeAPI_V1_1_60.jar" target-dir="app/libs" />
    </platform>

</plugin>